body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 
  color: '#777';
  background: '#777';
  width: '960px';
  font-size: '18px';


}

#resultId {
 display: none;
} 

.container {
  border: 10px color blueviolet;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 1000px;
  height: 650px;
  padding: 100px 50px 50px 50px;
  background-color: peachpuff;
}

button  {

  width:200px;
  height: 75px;
  margin-bottom: 30px;
  margin-left: 400px;
  text

}

#time-left  {
  padding-bottom:20px;
  color: red;
}
