body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  padding-top:50px;
  color: '#777';
  background: '#777';
  width: '960px';
  font-size: '18px';


}

#resultId {
 display: none;
} 


.jumbotron {
  border: 10px color blueviolet;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 1000px;
  max-height: 2200px;
  padding: 50px 50px 50px 50px;
  background-color: peachpuff;
  border-radius: .25em;
  
}

#submit {
  background:  greenyellow;
  font-size: 28px; 
  margin-top:30px;
}

#start  {
  border: 2px color greenyellow;
  background: blue;
  font-size: 28px;  
}

button  {
  width:175px;
  height: 55px;
  margin-bottom: 30px;
  margin-left: 400px;
  font-style: white;
  border: 10px color grey;
  position:center;
  border-radius: .25em;
  font: 14px serif;
}


#time-left  {
  padding-bottom: 20px;
  /* font-size: 20px;  */
  color: red;
  font: 2em serif;
}
 
#fullReset  {
  font-size: 28px; 
  margin-top:10px;
}

.restart  {
  position: center;
}

h1  {
  text-align: center;
  font-size: 50px; 
  font-style: italic;
  font-style: bold;
  color:black;
  margin-bottom: 50px;
}

#page {
padding-left: 50px;
font-size: 25px;
font: 1.5em serif;
display: inline-block;

}

#resultId {
/* padding-left: 50px; */
font-size: 25px;
font: 1.5em serif;
}

h3  {
  margin-bottom: 10px;
}

.h3class  {
  margin-top:30px;
}
 input{
   margin-right: 10px;
   margin-left: 10px;
   /* display: block; */  
 }
 label  {
  /* margin-right: 30px; */
  /* white-space: pre-line; */
 }

